<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                              https://maven.apache.org/xsd/settings-1.0.0.xsd">
    <servers>
        <server>
            <!-- O ID aqui DEVE ser o mesmo que você definiu no pom.xml -->
            <id>github</id>
            <!-- Seu nome de usuário do GitHub -->
            <username>Japaneixxx</username>
            <!-- O Personal Access Token que você gerou -->
            <password>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</password>
        </server>
    </servers>
</settings>